user-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;

  #user-list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    height: 64px;
    width: 100vw;

    color: var(--white);
    background-color: var(--primary-color);
    font-size: 24px;

    i,
    span {
      margin: 0 5px;
    }
  }

  #user-list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 860px;

    user-card {
      width: 95%;
      margin: 0px 16px 16px;

      &:first-child {
        margin-top: 86px;
      }
    }

    .user-list-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--black-transparent);
      margin-top: 192px;

      i {
        font-size: 128px;
      }

      span {
        font-size: 36px;
      }
    }

    .fab-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      border-radius: 50px;
      position: fixed;
      bottom: 32px;
      right: 32px;
      width: 64px;
      height: 64px;
      color: var(--white);
      background-color: var(--primary-color);
      cursor: pointer;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
}
