user-card {
  color: var(--ink);
  background-color: var(--darker-white);
  border-radius: 4px;

  .user-card-header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 64px auto 48px;

    padding: 12px;
    border-bottom: 1px dashed var(--darkest-white);

    img {
      height: 64px;
      width: 64px;
      border-radius: 50px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 12px;
    }

    .user-card-delete {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: var(--black-transparent);
      cursor: pointer;

      &:hover {
        color: var(--red);
      }
    }
  }

  .user-card-content {
    display: flex;
    flex-direction: column;
    padding: 16px;

    strong {
      font-size: 14px;
      color: var(--black-transparent);
    }

    p {
      margin: 4px 0 16px;
    }

    a {
      color: var(--secondary-color);
    }
  }

  .user-card-footer > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 24px 8px;
    border-top: 1px dashed var(--darkest-white);

    li {
      list-style: none;
      margin: 0 8px;
      color: var(--black-transparent);

      span {
        margin: 0 4px;
      }
    }
  }
}
